<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Dashboard</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    h1 {
      color: #333;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    button {
      background-color: #4caf50;
      color: white;
      border: none;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      cursor: pointer;
      border-radius: 3px;
    }

    button:hover {
      background-color: #45a049;
    }

    .revoke-btn {
      background-color: maroon;
      color: white;
    }
    
    .revoke-btn:hover {
      background-color: maroon;
    }

  </style>
</head>

<body>
  <h1>Admin Dashboard</h1>
  <table>
    <thead>
      <tr>
        <th>User ID</th>
        <th>Email</th>
        <th>Approved</th>
        <th>Make VIP Withdraw</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user=> { %>
        <tr>
          <td>
            <%= user.id %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.approved ? 'Yes' : 'No' %>
          </td>
          <td>
            <%= user.allow_withdraw ? 'Yes' : 'No' %>
          </td>
          <td>
            <% if (!user.approved) { %>
              <form action="/admin/approve/<%= user.id %>" method="post">
                <button type="submit">Approve</button>
              </form>
              |
              <% } %>

            <% if (!user.allow_withdraw) { %>
                <form action="/admin/approve/withdrawal/<%= user.id %>" method="post">
                  <button type="submit">Allow VIP Withdraw</button>
                </form>
            <% } else { %>
                  <form action="/admin/revoke/withdrawAL/<%= user.id %>" method="post">
                    <button class="revoke-btn" type="submit">Revoke VIP Withdraw</button>
                  </form>
            <% } %>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
</body>

</html>